@charset "UTF-8";

/*em HTML é ID em CSS é #
em HTML é class em CSS é .
*/


body{
    background-color: rgb(134, 235, 134);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color:rgb(1, 101, 1); 
}

h1#principal{
    text-align: center;
    background-color: rgb(1, 101, 1); 
    color: white;
}

h2{
color: rgb(75, 251, 75);
}

.basico{
    color: green;
    text-align: center;
}
.intermediario{
color: yellow;
text-align: center;
}

.avançado{
color: red;
text-align: center;
}

.destaque{
    background-color: rgb(119, 154, 49);
}